// Variables
$background-color: #8e75ff;
$navbar-radius: 40px;
$navbar-z-index: 1;

// Styles
.background-image {
  background-image: url("../../assets/background-header.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
}

.navbar {
  border-radius: $navbar-radius;
  background-color: $background-color;
  position: absolute;
  width: 100%;
  max-width: 50%;
  z-index: $navbar-z-index;

  @media screen and (max-width: 425px) {
    max-width: 100%;
  }
  .nav-link {
    font-size: 14px;
    padding: 5px 10px;
    color: #ced4da;

    &.active {
      color: white;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.158);
      border-radius: 5px;
      color: white;
    }
  }

  .svg-logo {
    width: 40px;
    height: auto;
    transform: scaleX(-1);
  }
}

.lcm-banner {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: $navbar-z-index;
}